a:link {
  color: 	white;
  text-decoration: none;
  }
  
  a:visited {
  color: 	white;
  text-decoration: none;
  }
  
  a:hover {
  color: 	white;
  text-decoration: none;
  }
  
  a:active {
  color: 	white;
  text-decoration: none;
  }
  .card1{
    float: left;
    margin: 16px;
    padding: 15px;
    width: 150px;
    height: 200px;
    }
    .card1 img{
    height: 130px;
    width: 130px;
    }
  #myself{
    width: 125px;
    height: 125px;
    margin: 5px;
    padding: 5px;
  }